# Enable Bzlmod for every Bazel command
build --enable_runfiles
common --enable_bzlmod
common --lockfile_mode=update
build --copt="/std:c++17"
# common --enable_platform_specific_config
common --skip_incompatible_explicit_targets