# Build dir
cmake-build-debug/
cmake-build/
build/
PyScreenReader.egg-info/

# Virtual environment
.venv/
env/
venv/

# PyEnv config
.python-version

# Idea workspace
.idea/

# Test dirs
.pytest_cache
__pycache__/

# Bazel
.clwb/
bazel-bin
bazel-out
bazel-PyScreenReader
bazel-testlogs
bazel-bin/
bazel-out/
bazel-PyScreenReader/
bazel-testlogs/
MODULE.bazel.lock

# PyEnv
.python-version

# Compile commands
compile_commands.json

# Macos data storage
.DS_Store
